In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Machine Learning 6 PM/linear regreassion/hiring.csv")

In [ ]:
df

   experience  test_score  interview_score  salary
0           0           8                9   50000
1           0           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           7                7   72000
7          11           7                8   80000

In [ ]:
x=df.iloc[:,:3]

In [ ]:
x

   experience  test_score  interview_score
0           0           8                9
1           0           8                6
2           5           6                7
3           2          10               10
4           7           9                6
5           3           7               10
6          10           7                7
7          11           7                8

In [ ]:
y=df.iloc[:,-1]

In [ ]:
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()

In [ ]:
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.predict([[2,5,7]])

array([46976.11293925])

In [ ]:
reg.predict([[5,6,7]])

array([57964.2290839])